<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498560162441-phblalt5sfd701f9vg0g9qnst8gceomo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498560162441-phblalt5sfd701f9vg0g9qnst8gceomo</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwG6OvR5etHtz9H7pbQCbDsGkW2SkYRg</string>
	<key>GCM_SENDER_ID</key>
	<string>498560162441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MSIOS.EasyB</string>
	<key>PROJECT_ID</key>
	<string>cashflow-1bcf5</string>
	<key>STORAGE_BUCKET</key>
	<string>cashflow-1bcf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498560162441:ios:cef6f857ea182bdaf84458</string>
</dict>
</plist>